## Carga de Modulos o librerías

In [54]:
import pandas as pd # para manejo de data frames
import numpy as np # para análisis numérico
#pd.st_option("display.max_rows", 150)
import re # para busqueda con regex
import matplotlib.pyplot as plt # para graficar
import cufflinks as cf # para graficar (al principio me dio error pero tenía que instalar cufflinks en la terminal, use el sig codigo)
#"/opt/homebrew/opt/python@3.11/bin/python3.11" -m pip install cufflinks

## Lectura de Datos EDA

In [55]:
pwd # Para ver directorio, o !pwd para correr directo en terminal

'/Users/brendacandela/Desktop/repositorios'

In [56]:
df = pd.read_csv("googleplaystore.csv", index_col=0, delimiter=",") #o si el pwd no está en el mismo folder /Users/brendacandela/Desktop/repositorios/googleplaystore.csv
# index es para que cuente la primer columna como indice

In [57]:
#df.head()
df.tail()
#df

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
10836,Sya9a Maroc - FR,FAMILY,4.5,38,53M,"5,000+",Free,0,Everyone,Education,25-Jul-17,1.48,4.1 and up
10837,Fr. Mike Schmitz Audio Teachings,FAMILY,5.0,4,3.6M,100+,Free,0,Everyone,Education,6-Jul-18,1,4.1 and up
10838,Parkinson Exercices FR,MEDICAL,NaN,3,9.5M,"1,000+",Free,0,Everyone,Medical,20-Jan-17,1,2.2 and up
10839,The SCP Foundation DB fr nn5n,BOOKS_AND_REFERENCE,4.5,114,Varies with device,"1,000+",Free,0,Mature 17+,Books & Reference,19-Jan-15,Varies with device,Varies with device
10840,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307,19M,"10,000,000+",Free,0,Everyone,Lifestyle,25-Jul-18,Varies with device,Varies with device

In [58]:
df.describe()

            Rating
count  9367.000000
mean      4.193338
std       0.537431
min       1.000000
25%       4.000000
50%       4.300000
75%       4.500000
max      19.000000

In [59]:
df.isnull().sum().sort_values(ascending=False) # Como vimos nulos, estamos contando cuantos hay por variable

Rating            1474
Current Ver          8
Android Ver          3
Type                 1
Content Rating       1
App                  0
Category             0
Reviews              0
Size                 0
Installs             0
Price                0
Genres               0
Last Updated         0
dtype: int64

In [60]:
df.shape # Para dimension de la tabla

(10841, 13)

In [61]:
#Crea una función para ver que tan incompletos están los datos (# de nulos / total)
def completitud_datos(df):
    return df.isnull().sum().sort_values(ascending=False) / df.shape[0]

In [62]:
completitud_datos(df)

Rating            0.135965
Current Ver       0.000738
Android Ver       0.000277
Type              0.000092
Content Rating    0.000092
App               0.000000
Category          0.000000
Reviews           0.000000
Size              0.000000
Installs          0.000000
Price             0.000000
Genres            0.000000
Last Updated      0.000000
dtype: float64

## Ingeniería de Datos

### Variable 1, Rating

In [63]:
from sklearn.impute import SimpleImputer # esto es para que solo se traiga una función en vez de toda la Librería

In [64]:
imputador = SimpleImputer(strategy = "mean") #Acá puso la media, pero va a depender de las pruebas de hipótesis. 
# Es decir que no te mueva la varianza creo, lo vemos en próximas clases

In [65]:
df[['Rating']]  #Trae la variable en forma de data frame
#ó df.Rating en forma de lista

       Rating
0         4.1
1         3.9
2         4.7
3         4.5
4         4.3
...       ...
10836     4.5
10837     5.0
10838     NaN
10839     4.5
10840     4.5

[10841 rows x 1 columns]

In [66]:
df[['Rating']] = imputador.fit_transform(df[['Rating']])  #Acá hace la imputación (rellenar valores nulos con la media) y Reemplazó la fila

In [67]:
df[['Rating']] #Podemos corroborar con la función de completitud que habíamos hecho

         Rating
0      4.100000
1      3.900000
2      4.700000
3      4.500000
4      4.300000
...         ...
10836  4.500000
10837  5.000000
10838  4.193338
10839  4.500000
10840  4.500000

[10841 rows x 1 columns]

In [68]:
completitud_datos(df)

Current Ver       0.000738
Android Ver       0.000277
Type              0.000092
Content Rating    0.000092
App               0.000000
Category          0.000000
Rating            0.000000
Reviews           0.000000
Size              0.000000
Installs          0.000000
Price             0.000000
Genres            0.000000
Last Updated      0.000000
dtype: float64

### 2da Variable - Current Ver

##### Esta variable tienen valores de versiones de device, y texto.

In [70]:
imputador_cv = SimpleImputer(strategy = 'most_frequent') # para imputar la Moda

df['Current Ver'] = df['Current Ver'].map(lambda x: str(x).strip().lower())  #Acá como tenía numeros y texto, lo paso a string con str(x), borró espacios y pasó a minusculas
#Esto para tener la moda?
#En python se manejan enteros, flotantes, strings

In [71]:
pd.Series(imputador_cv.fit_transform(df[['Current Ver']]).ravel(), index = df.index )  #con la tecnica ravel, a partir de una serie transforma no se que. dijo que despues daba otro ejemplo
#Al final acá imputó con la moda

#guarda esto en df de nuevo y checa la completitud

0                     1.0.0
1                     2.0.0
2                     1.2.4
3        varies with device
4                       1.1
                ...
10836                  1.48
10837                     1
10838                     1
10839    varies with device
10840    varies with device
Length: 10841, dtype: object

In [74]:
completitud_datos(df)

Android Ver       0.000277
Type              0.000092
Content Rating    0.000092
App               0.000000
Category          0.000000
Rating            0.000000
Reviews           0.000000
Size              0.000000
Installs          0.000000
Price             0.000000
Genres            0.000000
Last Updated      0.000000
Current Ver       0.000000
dtype: float64

### 3ra Variable - Type & Content Rating

##### Acá la variable de Type la reconoce como object, eso lo tiene que cambiar. Con astype

In [94]:
df["Type"] = df["Type"].replace(np.nan, ("Free"))
df["Type"] = df["Type"].astype(str) #acá la hace str, que segun yo sigue siendo object

In [91]:
completitud_datos(df)

Android Ver       0.000277
Content Rating    0.000092
App               0.000000
Category          0.000000
Rating            0.000000
Reviews           0.000000
Size              0.000000
Installs          0.000000
Type              0.000000
Price             0.000000
Genres            0.000000
Last Updated      0.000000
Current Ver       0.000000
dtype: float64

##### Content rating solo tiene un valor missing, están viendo si lo eliminan. Al final notamos que está desfasado los valores de las columnas
##### Oye y qué hacemos cuando hay shingos de valores missing

In [104]:
df[df["Content Rating"].isna()] #esta es la fila que tiene falor nulo, y que vimos que esta desfasada

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
10472,Life Made WI-Fi Touchscreen Photo Frame,1.9,19.0,3.0M,"1,000+",Free,0,Everyone,NaN,11-Feb-18,1.0.19,4.0 and up,NaN

In [105]:
#Como es la posición 10,472, queremos ver los ultimos 500 valores
#df.tail(500)

## EDA 2.0

#### Vamos a ver la forma "difícil" de arreglar ese desfase

In [106]:
## BTW - Debemos aprender a manejar distintas estructuras de datos, listas, duplas, Diccionarios

# Va a crear un diccionario. 
dic_ = {
    'App': ['Life Made WI-Fi Touchscreen Photo Frame'],
    'Category': ['PHOTOGRAPHY'],
    'Rating': [1.9],
    'Reviews': [19],
    'Size': ['3.0M'],
    'Installs': ['1,000+'],
    'Type': ['Free'],
    'Price': [0],
    'Content Rating': ['Everyone'],
    'Genres': ['Tools'],
    'Last Updated': ['11-Feb-18'],
    'Current Ver': ['1.0.19'],
    'Android Ver': ['4.0 and up']
               
}

In [107]:
dic_

{'App': ['Life Made WI-Fi Touchscreen Photo Frame'],
 'Category': ['PHOTOGRAPHY'],
 'Rating': [1.9],
 'Reviews': [19],
 'Size': ['3.0M'],
 'Installs': ['1,000+'],
 'Type': ['Free'],
 'Price': [0],
 'Content Rating': ['Everyone'],
 'Genres': ['Tools'],
 'Last Updated': ['11-Feb-18'],
 'Current Ver': ['1.0.19'],
 'Android Ver': ['4.0 and up']}

In [109]:
new_row_df = pd.DataFrame(dic_) #Creo la nueva fila en formato Data frame
new_row_df

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Life Made WI-Fi Touchscreen Photo Frame,PHOTOGRAPHY,1.9,19,3.0M,"1,000+",Free,0,Everyone,Tools,11-Feb-18,1.0.19,4.0 and up

In [110]:
df.shape #sabiendo cuanto mide la tabla

(10841, 13)

In [111]:
#vamos a separar el data set en 2 para sustituir la fila 10,472
position = 10472
other = 10473
df1 = df.iloc[:position] #Iloc se trae todo hasta cierta posición?
df2 = df.iloc[other:]

In [112]:
df = pd.concat([df1, new_row_df, df2]).reset_index(drop=True) #une todo en un data frame de nuevo

In [114]:
#Comprobamos que la fila se agrego correctamente
df.iloc[10471: 10475]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
10471,Xposed Wi-Fi-Pwd,PERSONALIZATION,3.5,1042,404k,"100,000+",Free,0,Everyone,Personalization,5-Aug-14,3.0.0,4.0.3 and up
10472,Life Made WI-Fi Touchscreen Photo Frame,PHOTOGRAPHY,1.9,19,3.0M,"1,000+",Free,0,Everyone,Tools,11-Feb-18,1.0.19,4.0 and up
10473,osmino Wi-Fi: free WiFi,TOOLS,4.2,134203,4.1M,"10,000,000+",Free,0,Everyone,Tools,7-Aug-18,6.06.14,4.4 and up
10474,Sat-Fi Voice,COMMUNICATION,3.4,37,14M,"1,000+",Free,0,Everyone,Communication,21-Nov-14,2.2.1.5,2.2 and up

In [116]:
#Corroboramos de nuevo como vamos completando
completitud_datos(df)

Android Ver       0.000184
App               0.000000
Category          0.000000
Rating            0.000000
Reviews           0.000000
Size              0.000000
Installs          0.000000
Type              0.000000
Price             0.000000
Content Rating    0.000000
Genres            0.000000
Last Updated      0.000000
Current Ver       0.000000
dtype: float64

### Ya solo nos queda Android Ver

In [118]:
df["Android Ver"]

0              4.0.3 and up
1              4.0.3 and up
2              4.0.3 and up
3                4.2 and up
4                4.4 and up
                ...
10836            4.1 and up
10837            4.1 and up
10838            2.2 and up
10839    Varies with device
10840    Varies with device
Name: Android Ver, Length: 10841, dtype: object

In [119]:
imputador_cv = SimpleImputer(strategy='most_frequent')  #Le imputo la moda y ya

df['Android Ver'] = df['Android Ver'].map(lambda x: str(x).strip().lower())

df['Android Ver']  = pd.Series(imputador_cv.fit_transform(df[['Android Ver']]).ravel(), index=df.index)

completitud_datos(df=df)

App               0.0
Category          0.0
Rating            0.0
Reviews           0.0
Size              0.0
Installs          0.0
Type              0.0
Price             0.0
Content Rating    0.0
Genres            0.0
Last Updated      0.0
Current Ver       0.0
Android Ver       0.0
dtype: float64

## Definicion de Variables Continuas
##Size &

In [120]:
df.describe() #solo tenemos rating como variable continua

             Rating
count  10841.000000
mean       4.191761
std        0.479391
min        1.000000
25%        4.100000
50%        4.200000
75%        4.500000
max        5.000000

In [121]:
df.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,7-Jan-18,1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,15-Jan-18,2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,1-Aug-18,1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,8-Jun-18,varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,20-Jun-18,1.1,4.4 and up

#### Para la variable Size, queremos que la reconozca como numerica. Vamos a traere los numeros con regex

In [124]:
df['Size']

0                       19M
1                       14M
2                      8.7M
3                       25M
4                      2.8M
                ...
10836                   53M
10837                  3.6M
10838                  9.5M
10839    Varies with device
10840                   19M
Name: Size, Length: 10841, dtype: object

In [123]:
df[["Size_varc", "Size_vard"]] = df['Size'].str.extract(r'(\d+\,?\d*)(\D*)') # #acá hizo cosas de regex

In [125]:
df['Size_varc']  = pd.Series(imputador_cv.fit_transform(df[['Size_varc']]).ravel(), index=df.index)  #acá imputo de nuvo con ravel?

In [126]:
df['Size_varc'] = df['Size_varc'].astype(float) #Acá lo volvió decimal

In [127]:
#Acá repitió con la variable Installs_varc
df[["Installs_varc", "Installs_vard"]] = df['Size'].str.extract(r'(\d+\,?\d*)(\D*)')
df['Installs'].str.extract(r'(\d+\,?\d*)(\D*)')

             0  1
0       10,000  +
1      500,000  +
2        5,000  ,
3       50,000  ,
4      100,000  +
...        ... ..
10836    5,000  +
10837      100  +
10838    1,000  +
10839    1,000  +
10840   10,000  ,

[10841 rows x 2 columns]

In [128]:
df['Installs_varc'] = df['Installs_varc'].astype(float)

In [129]:
 #Ya tenemos 3 numéricas

             Rating     Size_varc  Installs_varc
count  10841.000000  10841.000000    9146.000000
mean       4.191761     31.561018      36.854144
std        0.479391     91.692136      98.926896
min        1.000000      1.000000       1.000000
25%        4.100000      3.000000       5.000000
50%        4.200000     10.000000      15.000000
75%        4.500000     28.000000      34.000000
max        5.000000   1020.000000    1020.000000